---
import Layout from "../../layouts/Layout.astro";
import BreadCrumb from "../../components/BreadCrumb.astro";
import Sidebar from '../../components/blog/Sidebar.astro'
---

<Layout title="Blog">
<BreadCrumb/>
<main class="container mx-auto px-4">
<Sidebar/>
</main>

</Layout>