---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
    <main class="container mx-auto px-4 flex justify-center flex-col items-center">
        <img src="/404.svg" class="w-[80%] sm:w-[40%] mt-10">

        <a href="/" class="mt-4 text-white bg-blue-600 rounded-xl px-5 py-2">Go Home</a>
    </main>

</Layout>