<div class="mt-6 mb-9 w-full border-4 border-[#FFE7D6] rounded-md flex items-center justify-center flex-col">
  <img src="/images/watches.svg" class="m-8">

  <div>
     <div class="flex items-start justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-8" viewBox="0 0 256 315">
            <path d="M213.803 167.03c.442 47.58 41.74 63.413 42.197 63.615c-.35 1.116-6.599 22.563-21.757 44.716c-13.104 19.153-26.705 38.235-48.13 38.63c-21.05.388-27.82-12.483-51.888-12.483c-24.061 0-31.582 12.088-51.51 12.871c-20.68.783-36.428-20.71-49.64-39.793c-27-39.033-47.633-110.3-19.928-158.406c13.763-23.89 38.36-39.017 65.056-39.405c20.307-.387 39.475 13.662 51.889 13.662c12.406 0 35.699-16.895 60.186-14.414c10.25.427 39.026 4.14 57.503 31.186c-1.49.923-34.335 20.044-33.978 59.822M174.24 50.199c10.98-13.29 18.369-31.79 16.353-50.199c-15.826.636-34.962 10.546-46.314 23.828c-10.173 11.763-19.082 30.589-16.678 48.633c17.64 1.365 35.66-8.964 46.64-22.262" />
        </svg>
        <div class="flex flex-col justify-center">
            <h1 class="font-bold text-2xl uppercase">WATCH</h1>
            <p class="text-red-500 font-medium uppercase">Series 7</p>
        </div>
     </div>

     <div class="text-center px-4 mt-2 mb-5">
        <h2 class="text-lg font-bold capitalize">Heavy On Feature.</h2>
        <h2 class="text-lg font-bold capitalize">Light On Price.</h2>
     </div>

     <div class="flex items-center justify-center gap-x-1 mb-5">
         <span>Only for:</span> <button class="px-2 py-2 text-sm bg-[#F3DE6D] font-medium rounded">$299 USD</button>
     </div>

     <div class="mb-5">
        
        <button class="mb-2 bg-[#FA8232] text-white text-md flex items-center justify-center gap-x-2 font-medium py-2 w-full rounded-sm uppercase">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24">
                <path fill="currentColor" d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z" />
            </svg>
            Add to cart</button>

        <button class="mb-2 border-2 border-[#FA8232] bg-white text-[#FA8232] text-md flex items-center justify-center gap-x-2 font-medium py-2 w-full rounded-sm uppercase">
            View Details
            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 12h16m0 0l-6-6m6 6l-6 6" />
            </svg>
        </button>
     </div>

  </div>
</div>