---
interface Props {
	title: string;
	body: string;
	href: string;
	bgColor: string;
	btnColor: string
}

const { href, title, body, bgColor, btnColor } = Astro.props;
---

<div class={bgColor}>
	<div class="card-body">
	  <h2 class="card-title">{ title }</h2>
	  <p>{ body }</p>
	  <div class="card-actions justify-center">
		<a href={href} class={btnColor}>{title}</a>
	  </div>
	</div>
  </div>