---
interface Props {
	image: string,
	title: string,
	price: string,
	stars: string,
    link: string
}

const { image, title, price, stars, link } = Astro.props
---

    <div class="w-72 bg-white shadow-sm border rounded duration-500 hover:scale-105 hover:shadow-xl">
        <a href={link}>
            <img src={image}
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl p-6" />
            <div class="px-4 py-3 w-72">
                <span class="text-gray-400 mr-3 uppercase text-xs">{stars}</span>
                <p class="text-lg font-bold text-black truncate block capitalize">{ title}</p>
                <div class="flex items-center">
                    <p class="text-lg font-semibold text-blue-500 cursor-auto my-3">${price}</p>
                    
                </div>
            </div>
        </a>
    </div>
