<div class="mt-5 w-full px-3 bg-[#F2F4F5] py-2">
 <div class="flex items-center gap-x-2">
<span class="text-[#5F6C72]">Active Filters:</span>
<div class="text-gray-900 font-medium flex items-center gap-x-2">
   <p class="flex items-center gap-x-1">Electronics Device 
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>      
   </p>
   <p class="flex items-center gap-x-1">5 Star Rating 
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>      
   </p>
</div>
 </div>
</div>
 
