<footer class="w-full mt-8 bg-gray-900 text-white">
    <section class="container mx-auto flex items-start justify-between gap-x-6 px-4 py-6 my-5">
      <div>
        <img src="/images/FooterLogo.svg" alt="">
        <ul class="my-4 flex flex-col gap-2">
            <li>
                <span class="block text-sm text-gray-400">Customer Support</span>
                <span class="block font-medium text-md">(629) 555-0129</span>
            </li>
            <li>
                <span class="block text-sm text-gray-400">
                    4517 Washington Ave. Manchester, <br>Kentucky 39495
                </span>
            </li>
            <li>
                <span>info@kinbo.com</span>
            </li>
        </ul>
      </div>
      <div class="w-full grid grid-cols-4">
        <div>
            <h2 class="font-medium text-lg uppercase">TOP Category</h2>
            <ul class="text-md text-gray-400">
                <li>Computer & Laptop</li>
                <li>SmartPhone</li>
                <li>Headphone</li>
                <li>Accessories</li>
                <li>Camera & Photo</li>
                <li>TV & Home</li>
                <li>Browse All Categories</li>
            </ul>
        </div>
        <div>
            <h2 class="font-medium text-lg uppercase">TOP Category</h2>
            <ul class="text-md text-gray-400">
                <li>Computer & Laptop</li>
                <li>SmartPhone</li>
                <li>Headphone</li>
                <li>Accessories</li>
                <li>Camera & Photo</li>
                <li>TV & Home</li>
                <li>Browse All Categories</li>
            </ul>
        </div>
        <div>
            <h2 class="font-medium text-lg uppercase">TOP Category</h2>
            <ul class="text-md text-gray-400">
                <li>Computer & Laptop</li>
                <li>SmartPhone</li>
                <li>Headphone</li>
                <li>Accessories</li>
                <li>Camera & Photo</li>
                <li>TV & Home</li>
                <li>Browse All Categories</li>
            </ul>
        </div>
        <div>
            <h2 class="font-medium text-lg uppercase">TOP Category</h2>
            <ul class="text-md text-gray-400">
                <li>Computer & Laptop</li>
                <li>SmartPhone</li>
                <li>Headphone</li>
                <li>Accessories</li>
                <li>Camera & Photo</li>
                <li>TV & Home</li>
                <li>Browse All Categories</li>
            </ul>
        </div>
      </div>
    </section>
    <p class="w-full py-5 border-t border-gray-600 text-center text-[#ADB7BC] ">Kinbo - eCommerce Template © 2021. Design by Templatecookie</p>
</footer>