---
import Sidebar from "./Sidebar.astro"
import SearchBar from "./SearchBar.astro"
import SelectSort from './SelectSort.astro'
import Filter from "./Filter.astro"
---

<main class="container mx-auto  bg-white flex gap-x-6 py-6">
<Sidebar/>

<div class="block w-full">
    <div class="w-full flex items-start justify-between">
    <SearchBar/>
    <SelectSort/>
    </div>
    <div class="w-full">
        <Filter/>
    </div>
   
</div>

</main>