<div class="flex items-center gap-x-2">
    <span>Sort By: </span>
    <select class="px-5 py-2 bg-white border border-gray-300 rounded-sm text-gray-500">
      <option value="most_popular" selected>Most Popular</option>
      <option value="most_seen">Most Seen</option>
      <option value="expensive">Expensive</option>
      <option value="discount">Discount</option>
      <option value="freebies">Freebies</option>
    </select>
</div>