<div class="w-full py-2 px-4 bg-[#1B6392] text-white border-b border-white">
<div class="container mx-auto px-4 flex justify-between">
    <p>Welcome to Clicon online-Ecommerce store.</p>
    <div class="flex items-center gap-x-2">
     <p>Follow us:</p>
     <img src="/images/Twitter.svg"/>
     <img src="/images/Facebook.svg"/>
     <img src="/images/Pinterest.svg"/>
     <img src="/images/Youtube.svg"/>
     <img src="/images/Instagram.svg"/>

     <div class="w-[1px] h-[20px] bg-gray-200 mx-3"></div>
     
<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="flex items-center" type="button">Eng 
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
    </button>
    
    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Uzb</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ru</a>
          </li>
          
        </ul>
    </div>
    
        
<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown2" class="mx-2 flex items-center" type="button">USD 
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
    </button>
    
    <!-- Dropdown menu -->
    <div id="dropdown2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">UZS</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">RUB</a>
          </li>
          
        </ul>
    </div>
    


    </div>
</div>
</div>