---
import SidebarCategory from "../SidebarCategory.astro"
import PopularTag from "../PopularTag.astro"
---
<aside id="default-sidebar" class="w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-none bg-white dark:bg-gray-800">
      <SidebarCategory/>
      <PopularTag/>
    </div>
 </aside>
 